<div class="row">
  <div class="col-xs-12">
    <img
      src="https://pngimg.com/uploads/cooking_pan/cooking_pan_PNG8393.png"
      alt="Recipe Name"
      class="img-responsive"
      style="max-height: 300px"
    />
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <b><h1>Recipe Name</h1></b>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group" appDropdown>
      <button type="button" class="btn btn-primary dropdown-toggle">
        Manage Recipe <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a class="pointer" style="cursor: pointer">To Shopping List</a></li>
        <li><a style="cursor: pointer">Edit Recipe</a></li>
        <li><a style="cursor: pointer">Delete Recipe</a></li>
      </ul>
    </div>
  </div>
</div>
<hr />
<div class="row">
  <div class="col-xs-12">Recipe Description</div>
</div>
<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      <li class="list-group-item">Ingredient Name - (Ingredient Amount)</li>
    </ul>
  </div>
</div>
